In [1]:
import pandas as pd
import numpy as np
import csv
import datetime as dt

In [2]:
# Lendo arquivo csv

database = pd.read_csv(r'C:\Users\Beatriz Brito\Desktop\CEPEDI\ex.1\datasets\database_2.csv', 
    low_memory=False)

In [3]:
database = database.drop(columns=[
        'index',
        'phone_number_2',
        'facebook',
        'twitter',
        'instagram',
        'pinterest',
        'youtube',
        'url',
        'fax_1',
        'fax_2',
        'email_1',
        'email_2',
        'website'
        ])

In [4]:
# Separando informações de horário de funcionamento

funcionamento = database["open_hours"].str.split(",", n = 1, expand = True)
database["weekday"] = funcionamento[0]
database["weekend"] = funcionamento[1]
database.drop(columns = ["open_hours"], inplace = True)

In [5]:
# Tratando tipo de dados

database['weekday'] = database['weekday'].astype("string")
database['weekend'] = database['weekend'].astype("string")
database['name'] = database['name'].astype("string")
database['street_address'] = database['street_address'].astype("string")
database['city'] = database['city'].astype("string")
database['state'] = database['state'].astype("string")
database['zip_code'] = pd.to_numeric(database['zip_code'])
database['country'] = database['country'].astype("string")
database['latitude'] = pd.to_numeric(database['latitude'])
database['longitude'] = pd.to_numeric(database['longitude'])
database['phone_number'] = database['phone_number_1'].str.replace('-', '')
database.drop(columns = ["phone_number_1"], inplace = True)
database['phone_number'] = pd.to_numeric(database['phone_number'])

In [6]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4654 entries, 0 to 4653
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            4654 non-null   string
 1   street_address  4654 non-null   string
 2   city            4654 non-null   string
 3   state           4654 non-null   string
 4   zip_code        4654 non-null   int64
 5   country         4654 non-null   string
 6   latitude        4654 non-null   float64
 7   longitude       4654 non-null   float64
 8   weekday         4631 non-null   string
 9   weekend         4631 non-null   string
 10  phone_number    4654 non-null   int64
dtypes: float64(2), int64(2), string(7)
memory usage: 400.1 KB

In [7]:
database.sample(3)

,name,street_address,city,state,zip_code,country,latitude,longitude,weekday,weekend,phone_number
332,Tomball Supercenter,25800 Kuykendahl Rd,Tomball,TX,77375,US,30.134346,-95.550647,monday - friday : 06:00-24:00,"saturday : 06:00-24:00, sunday : 06:00-24:00",8327618499
3491,Levittown Neighborhood Market,3335 Hempstead Tpke,Levittown,NY,11756,US,40.726434,-73.512899,monday - friday : 06:00-24:00,"saturday : 06:00-24:00, sunday : 06:00-24:00",5164900438
2737,Milwaukee Supercenter,10330 W Silver Spring Dr,Milwaukee,WI,53225,US,43.122232,-88.041482,monday - friday : 06:00-24:00,"saturday : 06:00-24:00, sunday : 06:00-24:00",4143550892

In [8]:
# Salva o arquivo modificado em processed

database.to_pickle('processed/database_2.plk')
del database