In [1]:
import pandas as pd
import numpy as np
import csv
import datetime as dt

In [2]:
# Lendo arquivo csv

database = pd.read_csv(r'C:\Users\Beatriz Brito\Desktop\CEPEDI\ex.1\datasets\books_data.csv', 
    low_memory=False,
    na_values=r'\N')
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [3]:

database.columns = database.columns.str.replace(' ', '_').str.lower()
database.columns

Index(['title', 'description', 'authors', 'image', 'previewlink', 'publisher',
       'publisheddate', 'infolink', 'categories', 'ratingscount'],
      dtype='object')

In [4]:
# Tratando os dados

database['title'] = database['title'].astype("string")
database['description'] = database['description'].astype("string")
database['authors'] = database['authors'].astype("string")
database['publisher'] = database['publisher'].astype("string")
database['publishe_date'] = database['publisheddate']
database['info_link'] = database['infolink']
database['ratings_count'] = database['ratingscount']
database.drop(columns = [
    "previewlink", 
    "image", 
    "publisheddate", 
    "infolink", 
    "ratingscount"], inplace = True)
database['publishe_date'] = database['publishe_date'].astype("string")
database['info_link'] = database['info_link'].astype("string")
database['categories'] = database['categories'].astype("string")
database['ratings_count'] = pd.to_numeric(database['ratings_count'])
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          212403 non-null  string
 1   description    143962 non-null  string
 2   authors        180991 non-null  string
 3   publisher      136518 non-null  string
 4   categories     171205 non-null  string
 5   publishe_date  187099 non-null  string
 6   info_link      188568 non-null  string
 7   ratings_count  49752 non-null   float64
dtypes: float64(1), string(7)
memory usage: 13.0 MB

NÃ£o consegui converter a coluna "publishe_date" para datetime, pois as entradas variam entre YYYY-MM-DD e YYYY

In [5]:
database.sample(3)

,title,description,authors,publisher,categories,publishe_date,info_link,ratings_count
196522,The Americanization of Edward Bok: The autobio...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
204976,Deadly Waters (Rick Cunningham),<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
185972,IT People: Doing More With Less,https://www.DoingMoreWithLessBook.com/ Doing M...,['Bruce Piasecki'],"Square One Publishers, Inc.",['Business & Economics'],2016-05-23,https://play.google.com/store/books/details?id...,NaN

In [6]:
# Salva o arquivo modificado em processed

database.to_pickle('processed/books_data.plk')
del database