In [19]:
import pandas as pd
import numpy as np
import csv
import datetime as dt

In [20]:
# Lendo arquivo csv

database = pd.read_csv(r'C:\Users\Beatriz Brito\Desktop\CEPEDI\ex.1\datasets\exams.csv', 
    low_memory=False)
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [21]:
# Tratando os dados

database.columns = database.columns.str.replace(' ', '_').str.lower()
database['gender'] = database['gender'].astype("category")
database['race/ethnicity'] = database['race/ethnicity'].astype("category")
database['parental_level_of_education'] = database['parental_level_of_education'].astype("category")
database['lunch'] = database['lunch'].astype("category")
database['test_preparation_course'] = database['test_preparation_course'].astype("category")

In [22]:
database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   category
 1   race/ethnicity               1000 non-null   category
 2   parental_level_of_education  1000 non-null   category
 3   lunch                        1000 non-null   category
 4   test_preparation_course      1000 non-null   category
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: category(5), int64(3)
memory usage: 29.2 KB

In [23]:
database.sample(5)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
503,male,group D,high school,standard,none,77,80,72
703,male,group B,some high school,standard,none,71,72,69
818,female,group D,some high school,standard,none,59,78,75
209,female,group B,associate's degree,standard,none,64,62,66
141,female,group D,some college,free/reduced,none,65,77,83

In [24]:
# Salva o arquivo modificado em processed

database.to_pickle('processed/database_3.plk')
del database